@media only screen and (max-width: 1256px) and (max-height: 635px) {
  img.logo{
    height: 30px;
  }

  img.airplane-image{
    width: 300px;
  }
  
  .special{
    font-size: .6rem;
  }
  .special.title{
    font-size: 1.4rem;
  }

  footer{
    height: 80px;
  }

  .plane-page{
    height: calc(100vh - 160px);

  }

  .page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 200px;
    height: auto;
  }

  .logo-footer-container img {
    height: 40px;
  }

  .container .card {
    position: relative;
    width: 270px;
    height: 400px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
  }

  .container .card .contentBx a {
    font-size: small !important;
  }

  .about-page, .content-page{
    padding-top: none !important;
  }
  h2{
    font-size: x-large;
  }

  h3{
    font-size: .7rem !important;
  }

  span{
    font-size: .7rem !important;
  }
  
  .more_details{
    font-size: large !important;
  }
}